@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

hr{
    margin:2vh;
}
body{
    font-family: 'Roboto Mono', monospace;
    margin:0px;
}

/** Container**/

.container{
    padding-left: 1vh;
    padding-right:1vh;


}
.center-container{
   max-width: 650px;
   margin : auto;
  
}


/** link**/
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5vh 0.5vh;
    margin:1vh;
    
}
.link-primary{
    margin:auto;
    background-color:#831843;
    border-radius: 1vh 1vh;
    border: 0px solid #831843;
    color:white;
    padding:0.5rem;
}

.link-secondary{
background-color:white;
border-radius: 1vh 1vh;
border:0.5px solid #831843;
color:#831843;
padding:0.5vh;
}

.heading-inverted{
    color:#831843;
    font-weight: bold;

}
/** list**/
.list-non-bullet{
    list-style: none;
}
.list-inline{
    display: inline;
    padding:0vh 0.5vh;
}

/**navigation**/
.navigation{
    background-color: #831843;
    color:white;
    border-bottom-left-radius: 1vh;
    margin:auto;
    text-align: center;
}
.navigation .link{
    color:white;   

}

.navigation .list-non-bullet-nav{
    text-align: right;
    padding: 0.5vh;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: large;
    padding-top: 1.5vh;
    color:#fef2f2;
    text-align:justify;
    padding-left: 5vh;

}

.navigation .heading-inverted{
    color:#d1d5db;
}

.navigation .link-active{
    font-weight: bold;
}

/**header**/
.hero{
    padding:0.5vh;
}
.hero .hero-image{
    max-width: 30%;
    display:block;
    margin:auto;
}

.hero .hero-heading{
    padding-top:0.5vh;
    font-size:large;
    color:#374151;
    text-align: center;

}
.hero .hero-heading .heading-inverted{
    color:#831843;

}

/** section**/
.section{
    padding:1.5rem;
    text-align: center;
    margin:auto;

}
   
.section h1{
    text-align: center;

}
.off-white-section{
    padding:1.5rem;
    background-color: #d1d5db;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    
}

/**footer**/
.footer{
    background-color: #831843;
    padding:1.5vh;
    text-align: center;
    color:white;
    border-bottom-right-radius: 1vh;

}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer .link{
    color:white;
}

.footer ul{
    padding-inline-start: 0px;
}
